[submodule "src/yolov8_ros"]
	path = src/yolov8_ros
	url = https://github.com/hoenigpeter/yolov8_ros.git
[submodule "src/gdrnpp_bop2022"]
	path = src/gdrnpp_bop2022
	url = https://github.com/hoenigpeter/gdrnpp_bop2022.git
[submodule "src/pointing_gesture_recognition"]
	path = src/pointing_gesture_recognition
	url = https://github.com/v4r-tuwien/pointing_gesture_recognition.git
[submodule "src/speech_recognition_ros"]
	path = src/speech_recognition_ros
	url = git@github.com:hirschmanner/speech_recognition_ros.git
[submodule "src/motion"]
	path = src/motion
	url = git@github.com:ichores-research/motion.git
[submodule "src/grounded_sam2_ros"]
	path = src/grounded_sam2_ros
	url = https://github.com/v4r-tuwien/grounded_sam2_ros.git
[submodule "src/hsr_contact_graspnet"]
	path = src/hsr_contact_graspnet
	url = https://github.com/v4r-tuwien/hsr_contact_graspnet.git
	branch = ichores_version
[submodule "src/uncom"]
	path = src/uncom
	url = https://github.com/ichores-research/uncom.git
	branch = main
[submodule "src/goal_state_reasoning"]
	path = src/goal_state_reasoning
	url = https://github.com/ichores-research/goal_state_reasoning.git
	branch = main
[submodule "src/reasoner_docker_pipeline"]
	path = src/reasoner_docker_pipeline
	url = https://github.com/nadgrinch/reasoner_docker_pipeline.git
	branch = main
[submodule "src/Motion_stack"]
	path = src/Motion_stack
	url = git@github.com:ichores-research/Motion_stack.git
	branch = docker
[submodule "src/tiago-motion"]
	path = src/tiago-motion
	url = git@github.com:ichores-research/tiago-motion.git
	branch = main
[submodule "src/Human_detection"]
	path = src/Human_detection
	url = git@github.com:ichores-research/Human_detection.git
	branch = main
[submodule "src/modality_merging"]
	path = src/modality_merging
	url = https://github.com/ichores-research/modality_merging.git
	branch = master
[submodule "src/traditional_nlp_module"]
	path = src/traditional_nlp_module
	url = https://github.com/ichores-research/traditional_nlp_module.git
	branch = main
