[submodule "src/yolov8_ros"]
	path = src/yolov8_ros
	url = https://github.com/hoenigpeter/yolov8_ros.git
[submodule "src/gdrnpp_bop2022"]
	path = src/gdrnpp_bop2022
	url = https://github.com/hoenigpeter/gdrnpp_bop2022.git
[submodule "src/pointing_gesture_recognition"]
	path = src/pointing_gesture_recognition
	url = https://github.com/v4r-tuwien/pointing_gesture_recognition.git
[submodule "src/speech_recognition_ros"]
	path = src/speech_recognition_ros
	url = git@github.com:hirschmanner/speech_recognition_ros.git
[submodule "src/grounded_sam2_ros"]
	path = src/grounded_sam2_ros
	url = https://github.com/v4r-tuwien/grounded_sam2_ros.git
[submodule "src/hsr_contact_graspnet"]
	path = src/hsr_contact_graspnet
	url = https://github.com/v4r-tuwien/hsr_contact_graspnet.git
	branch = ichores_version
[submodule "src/goal_state_reasoning"]
	path = src/goal_state_reasoning
	url = https://github.com/ichores-research/goal_state_reasoning.git
[submodule "src/table_plane_extractor"]
	path = src/table_plane_extractor
	url = https://github.com/ichores-research/table_plane_extractor.git
